@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --cyan: hsl(171, 66%, 44%);
    --cyan-shade: hsl(171, 66%, 35%);
    --cyan-shadow: hsla(171, 66%, 44%, .3);
    --purple: hsl(233, 100%, 69%);
    --purple-shade: hsl(233, 100%, 64%);
    --purple-shadow: hsla(233, 100%, 69%, .3);
    --dark-grey: hsl(210, 10%, 33%);
    --light-grey: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
    color: var(--light-grey);
    font-size: 16px;
}

.hero {
    background: no-repeat url('images/bg-header-mobile.png');
    margin-bottom: 10em;

    .header-logo {
        margin: 8em auto 2em auto;
    }

    h1 {
        color: var(--dark-grey);
        font-size: 34px;
    }
}

// design shape of buttons
.download-button {
    border-radius: 4em;
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.04em;
    text-decoration: none;
    padding: .9em 4.4em;
    margin: 1.8em auto -.2em auto;
}

// design color(s) of button
.ios-download {
    background: var(--cyan);
    box-shadow: inset 0 -3px var(--cyan-shade), 0px 8px 20px 0px var(--cyan-shadow);
}

// design color(s) of button
.mac-download {
    background: var(--purple);
    box-shadow: inset 0 -3px var(--purple-shade), 0px 8px 20px 0px var(--purple-shadow);
}

































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }