@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --cyan: hsl(171, 66%, 44%);
  --cyan-shade: hsl(171, 66%, 35%);
  --cyan-shadow: hsla(171, 66%, 44%, .3);
  --purple: hsl(233, 100%, 69%);
  --purple-shade: hsl(233, 100%, 64%);
  --purple-shadow: hsla(233, 100%, 69%, .3);
  --dark-grey: hsl(210, 10%, 33%);
  --light-grey: hsl(201, 11%, 66%);
  --light-grey-transparent: hsl(201, 11%, 66%, .1);
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: center;
  color: var(--light-grey);
  font-size: 16px;
}

h1, h2, h3 {
  color: var(--dark-grey);
  margin-bottom: .4em;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  line-height: 1.6em;
  width: 86%;
  margin: auto;
}

section {
  margin-bottom: 11em;
}

.header {
  background: no-repeat url("images/bg-header-mobile.png");
}

.header .header-logo {
  margin: 8em auto 2em auto;
}

.download-button {
  border-radius: 4em;
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-decoration: none;
  padding: .9em 4.4em;
  margin: 1.5em auto -.2em auto;
}

.download-button:hover {
  -webkit-filter: brightness(108%);
          filter: brightness(108%);
}

.ios-download {
  margin-top: 1em;
  background: var(--cyan);
  -webkit-box-shadow: inset 0 -3px var(--cyan-shade), 0px 8px 20px 0px var(--cyan-shadow);
          box-shadow: inset 0 -3px var(--cyan-shade), 0px 8px 20px 0px var(--cyan-shadow);
}

.mac-download {
  background: var(--purple);
  -webkit-box-shadow: inset 0 -3px var(--purple-shade), 0px 8px 20px 0px var(--purple-shadow);
          box-shadow: inset 0 -3px var(--purple-shade), 0px 8px 20px 0px var(--purple-shadow);
}

img.desktop-showcase {
  width: 320px;
  padding: 5em 0 1.6em;
}

.info-text {
  padding: .2em 0;
  margin-bottom: 1.8em;
}

img.mobile-showcase {
  width: 340px;
  padding: 2.8em 0 4em;
}

.benefit-icon {
  margin-top: 3.2em;
}

section.partners {
  margin-top: -2.8em;
}

img.partner {
  display: block;
  margin: 0 auto 4em auto;
  height: 2.5em;
  width: auto;
}

#microsoft-logo {
  height: 1.8em;
}

#hp-logo {
  height: 3em;
}

#vc-logo {
  height: 1.6em;
}

section.apps {
  margin-top: -2em;
}

footer {
  background: var(--light-grey-transparent);
  margin-top: 10.8em;
  padding-bottom: 3em;
}

.footer-logo {
  width: 56px;
  margin: 3.4em auto 2.6em auto;
}

.footer-link {
  display: block;
  margin: 0 auto 1.4em auto;
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 18px;
}

.footer-link:hover {
  color: var(--cyan);
}

.social-icon img {
  margin: 1em 1em 0 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: #3e52a3;
}

.social-icon:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(67%) sepia(28%) saturate(1027%) hue-rotate(122deg) brightness(87%) contrast(88%);
          filter: brightness(0) saturate(100%) invert(67%) sepia(28%) saturate(1027%) hue-rotate(122deg) brightness(87%) contrast(88%);
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 44px;
    margin: .5em;
  }
  .h1-paragraph {
    font-size: 20px;
  }
  .h2-paragraph {
    font-size: 18px;
  }
  h2 {
    font-size: 36px;
  }
  p {
    max-width: 720px;
  }
  .header {
    background: no-repeat url("images/bg-header-desktop.png");
  }
  .download-button {
    padding: .9em 1.8em;
    margin: 3em .4em -.2em .4em;
  }
  .feature-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 7em;
    margin-bottom: -3.2em;
  }
  .feature-container img.desktop-showcase {
    -ms-flex-preferred-size: 750px;
        flex-basis: 750px;
    margin-left: -2.5em;
  }
  .feature-container .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: -1em;
  }
  .feature-container .info-text {
    text-align: left;
    max-width: 400px;
  }
  .feature-container .info-text p {
    margin-left: 0;
  }
  .benefits img.mobile-showcase {
    width: unset;
    width: 90%;
    max-width: 900px;
    margin: 4em auto -1.6em auto;
  }
  .benefits-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: .8em;
  }
  .benefit {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    margin: 1em -.6em;
  }
  .benefit .benefit-icon {
    height: 40px;
    margin-bottom: .4em;
  }
  section.partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  img.partner, #microsoft-logo, #hp-logo, #vc-logo {
    width: 140px;
    height: auto;
    margin: -1em 0 1em 0;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    height: 140px;
  }
  .img-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .link-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    grid-auto-flow: column;
    -ms-grid-rows: (minmax(2em, 3em))[2];
        grid-template-rows: repeat(2, minmax(2em, 3em));
    -ms-grid-columns: (minmax(6em, 12em))[3];
        grid-template-columns: repeat(3, minmax(6em, 12em));
    margin-bottom: -3em;
  }
  .footer-link {
    all: unset;
    text-align: left;
    color: var(--dark-grey);
    font-size: 18px;
  }
  .icon-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=main.css.map */